* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.app {
    position: relative;
}

.active {
    display: block !important;
}
.menu__mobile {
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    &--search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #1e5480;
        padding: 10px;
        a {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            display: flex;
            margin-left: 10px;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            background-color: #fff;
            border-radius: 50%;
            span {
                font-size: 13px;
                color: #333;
                font-weight: 700;
                line-height: 30px;
            }
        }
    }

    &--input {
        width: 100%;
        border-radius: 20px;
        display: flex;
        background-color: #fff;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        i {
            margin-left: 14px;
            color: #b9b6b6;
        }
        input {
            flex: 1;
            outline: none;
            height: 30px;
            border: none;
            font-size: 13px;
        }
    }
    &--main {
        display: flex;
        height: calc(100% - 91px);
    }
    &--nav {
        width: 80px;
        background-color: #413b49;
        list-style: none;
        padding-left: 0;
        margin: 0;
        img {
            display: block;
            margin: 0 auto 5px;
            width: 20px;
            height: 20px;
        }
        &--item {
            font-size: 11px;
            text-align: center;
            color: #fff;
            padding: 3px 5px;
            line-height: 1.3;
        }
    }
    &--list {
        flex: 1;
        width: calc(100% - 41px);
        padding: 0 5px;
        height: 100%;
        overflow: auto;
    }
    &--type {
        display: none;
    }
    &--item {
        border-bottom: 1px solid #ccc;
        overflow: hidden;
        a {
            display: block;
            padding: 12px 12px 12px 3px;
            color: #333;
            font-size: 14px;
            line-height: 20px;
            text-decoration: none;
            position: relative;
            width: 100%;
            i {
                font-size: 11px;
                float: right;
                color: #47444d;
                line-height: 20px;
                border-left: 1px solid #ccc;
                padding: 0 5px 0 7px;
            }
        }
    }
    &--bottom {
        background-color: #e7e8ec;
        display: flex;
        width: 100%;
        padding: 5px 0;
        height: 41px;
        a {
            width: 20%;
            text-align: center;
            text-decoration: none;
            align-items: center;
            color: #003e52;
            span {
                width: 100%;
                display: block;
                font-size: 12px;
                line-height: 1;
            }
        }
    }

    .menu__sub {
        padding-left: 0;
        margin: 0;
        list-style: none;
        display: flex;
        max-height: 0;
        transition: all linear 1s !important;
        flex-wrap: wrap;
        &--item {
            width: 20%;
        }
        &--link {
            font-size: 11px;
            text-decoration: none;
            text-align: center;
            margin-bottom: 5px;
            img {
                height: 40px;
                display: block;
                margin: auto;
            }
        }
    }

    .active--height {
        max-height: 400px;
    }
    .nav--active {
        background-color: #2f2a35;
    }
}

@media (max-width: 500px) {
    .menu__mobile .menu__sub--item {
        width: 33.33333%;
    }
}

@media (max-width: 600px) {
    .menu__mobile .menu__sub--item {
        width: 33.33333%;
    }
}
